
<!--
<div>
  <video src="../../assets/video/test.mp4" controls = "controls" height="1080px" width="1920px"></video>
</div>-->

<div *ngIf="pageNum == 0" class="paper_section" style="min-height: 400px;overflow: auto;">
  <div class="paper_title_box">{{'flowchartMenu'|translate}}</div>
  <div class="col-md-12" style="margin-bottom:20px; min-height: 20px;">
    <h2>{{'welcomeToFlowchart'|translate}}</h2>
  </div>
  <!--<div class="col-md-12" style="margin-bottom:20px; min-height: 20px;">
    <h3 style="width: 30%;margin: 0 auto;padding-bottom: 10px">{{'inputProductName'|translate}}</h3>
    <input class="form-control" [(ngModel)]="productName" style="height: 30px; width: 30% ;margin: 0 auto">
  </div>-->
  <div class="col-md-12" style="min-height: 50px">
    <button class="btn btn-block btn-primary btn-lg" style="width: 20%; margin: 0 auto" (click)="startFlowchart()">{{'startFlowchart'|translate}}</button>
  </div>
</div>


<!--type = form-->
<div name="type_form" *ngIf="currentType == 'form'" class="paper_section" style="min-height: 400px;overflow: auto;">
  <div class="paper_title_box">{{'flowchartMenu'|translate}}</div>
  <div class="col-md-12" style="margin-bottom:20px; min-height: 20px;">
    <div class = "box-header">
      <b>{{pointItem.taskDefinitionKey}}.</b><b>{{pointItem.name}}</b>
    </div>
    <div class="form-group">
      <p>{{pointItem.config[pointItem.config.length - 1].value}}</p>
      <div *ngFor="let item of pointItem.form" class="form-group col-lg-4">
        <label>{{item.name}}</label>
        <input class="form-control" [(ngModel)]="item.value"  placeholder={{item.name}} type="text">
      </div>
    </div>
  </div>
  <div class="col-md-12" style="min-height: 50px">
    <button class="btn btn-block btn-primary btn-lg" style="width: 20%; margin-left: 25px;float: left; margin-bottom: 15px" (click)="goToNextStep()" [disabled]="buttonDisabled">{{'nextQuestion'|translate}}</button>
  </div>
</div>

<!--type = question-->
<div name="type_choose" *ngIf="currentType == 'question'" class="paper_section" style="min-height: 400px;overflow: auto;">
  <div class="paper_title_box">{{'flowchartMenu'|translate}}</div>
  <div class="col-md-12" style="margin-bottom:20px; min-height: 20px;">
    <div class = "box-header">
      <b>{{pointItem.taskDefinitionKey}}.</b><b>{{pointItem.name}}</b>
    </div>
    <div class="form-group">
      <p>{{pointItem.config[pointItem.config.length - 1].value}}</p>
      <ng-container *ngFor="let item of pointItem.choice.question.answer.options">
        <label class = "box-header">
          <input name= {{questionItem.name}} value={{item.optionId}} [(ngModel)]="pointItem.form[1].value" type="radio" class="a-radio">
          <span class="b-radio"></span> {{item.name}}. {{item.detail}}
        </label>
      </ng-container>
    </div>
  </div>
  <div class="col-md-12" style="min-height: 50px">
    <button class="btn btn-block btn-primary btn-lg" style="width: 20%; float: left;margin-left: 25px; margin-bottom: 15px" (click)="goToNextStep()" [disabled]="buttonDisabled">{{'nextQuestion'|translate}}</button>
  </div>
</div>

<!--type = line-->
<div name="type_form" *ngIf="currentType == 'line'" class="paper_section" style="min-height: 400px;overflow: auto;">
  <div class="paper_title_box">{{'flowchartMenu'|translate}}</div>
  <div class="col-md-12" style="margin-bottom:20px; min-height: 20px;">
    <div class = "box-header">
      <b>{{pointItem.taskDefinitionKey}}.</b><b>{{pointItem.name}}</b>
    </div>
    <div class="form-group">
      <div>请点击物料流上的节点</div>
      <p>{{pointItem.config[pointItem.config.length - 1].value}}</p>
      <div *ngFor="let item of pointItem.form">
        <div *ngIf="item.writable" class="form-group col-lg-4">
          <label>{{item.name}}</label>
          <input class="form-control" [(ngModel)]="item.value" placeholder={{item.name}} type="text">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12" style="min-height: 50px">
    <button class="btn btn-block btn-primary btn-lg" style="width: 20%; float: left; margin-left: 25px;margin-bottom: 15px" (click)="goToNextStep()" [disabled]="buttonDisabled">{{'nextQuestion'|translate}}</button>
  </div>
</div>


<!--type = image-->
<div name="type_form" *ngIf="currentType == 'image'" class="paper_section" style="min-height: 400px;overflow: auto;">
  <div class="paper_title_box">{{'flowchartMenu'|translate}}</div>
  <div class="col-md-12" style="margin-bottom:20px; min-height: 20px;">
    <div class = "box-header">
      <b>{{pointItem.taskDefinitionKey}}.</b><b>{{pointItem.name}}</b>
    </div>
    <div class="form-group">
      <p>{{pointItem.config[pointItem.config.length - 1].value}}</p>
      <div *ngFor="let item of pointItem.form">
        <div *ngIf="item.writable" class="form-group col-lg-4">
          <label>{{item.name}}</label>
          <input class="form-control" [(ngModel)]="item.value" placeholder={{item.name}} type="text">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12" style="min-height: 50px">
    <button class="btn btn-block btn-primary btn-lg" style="width: 20%; float: left;margin-left: 25px; margin-bottom: 15px" (click)="goToNextStep()" [disabled]="buttonDisabled">{{'nextQuestion'|translate}}</button>
  </div>
</div>

<!--type = highlight-->
<div name="type_form" *ngIf="currentType == 'highlight'" class="paper_section" style="min-height: 400px;overflow: auto;">
  <div class="paper_title_box">{{'flowchartMenu'|translate}}</div>
  <div class="col-md-12" style="margin-bottom:20px; min-height: 20px;">
    <div class = "box-header">
      <b>{{pointItem.taskDefinitionKey}}.</b><b>{{pointItem.name}}</b>
    </div>
    <div class="form-group">
      <div>请点击物料流上的节点</div>
      <div *ngFor="let item of pointItem.form">
        <div *ngIf="item.writable" class="form-group col-lg-4">
          <label>{{item.name}}</label>
          <input class="form-control" [(ngModel)]="item.value" placeholder={{item.name}} type="text">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12" style="min-height: 50px">
    <button class="btn btn-block btn-primary btn-lg" style="width: 20%; float: left; margin-left: 25px;margin-bottom: 15px" (click)="goToNextStep()" [disabled]="buttonDisabled">{{'nextQuestion'|translate}}</button>
  </div>
</div>

<!--type = vendorEnd-->
<div name="type_form" *ngIf="currentType == 'vendorEnd'" class="paper_section" style="min-height: 400px;overflow: auto;">
  <div class="paper_title_box">{{'flowchartMenu'|translate}}</div>
  <div class="col-md-12" style="margin-bottom:20px; min-height: 20px;">
    <h1>供应商端物流绘制完成，接下来进行工厂物料流绘制！</h1>
  </div>
  <div class="col-md-12" style="min-height: 50px">
    <button class="btn btn-block btn-primary btn-lg" style="width: 20%; float: left; margin-left: 25px;margin-bottom: 15px" (click)="goToNextStep()" [disabled]="buttonDisabled">{{'nextQuestion'|translate}}</button>
  </div>
</div>

<!--type = materialEnd-->
<div name="type_form" *ngIf="currentType == 'materialEnd'" class="paper_section" style="min-height: 400px;overflow: auto;">
  <div class="paper_title_box">{{'flowchartMenu'|translate}}</div>
  <div class="col-md-12" style="margin-bottom:20px; min-height: 20px;">
    <h1>物料流绘制完成，接下来进行信息流绘制！</h1>
  </div>
  <div class="col-md-12" style="min-height: 50px">
    <button class="btn btn-block btn-primary btn-lg" style="width: 20%; float: left; margin-left: 25px;margin-bottom: 15px" (click)="goToNextStep()" [disabled]="buttonDisabled">{{'nextQuestion'|translate}}</button>
  </div>
</div>

<!--type = flowchartEnd-->
<div name="type_form" *ngIf="currentType == 'flowchartEnd'" class="paper_section" style="min-height: 400px;overflow: auto;">
  <div class="paper_title_box">{{'flowchartMenu'|translate}}</div>
  <div class="col-md-12" style="margin-bottom:20px; min-height: 20px;">
    <h1>恭喜你，完成了所有物料流和信息流的绘制，工厂的诊断结果稍后给您呈现！</h1>
  </div>
</div>

<!--flowchart board-->
<div name="drawnChart" class="paper_section" style="float:left;overflow-x:scroll;overFlow-y: hidden;white-space:nowrap; background-color: white !important; height: 600px;width:-webkit-fill-available;">
  <div #firstRow class="row" style="height: 100px;">
    <button class="btn btn-block btn-primary btn-sm" style="width: 50px; float: right;
     margin-top: 10px;margin-right: 15px" (click)="resetChart()">{{'resetChart'|translate}}</button>
  </div>
'
  <div #secondRow class="row" style="height: 100px;">
  </div>

  <div class="row" style="height: 200px">
    <svg #thirdRow width="1500" height="300">

      <!--<line *ngFor="let item of lineList" [attr.x1]="item.x1" [attr.y1]="item.y1"
            [attr.x2]="item.x2" [attr.y2]="item.y2" style="stroke:rgb(0,0,0);stroke-width:2px" marker-end="url(#arrow)">
      </line>-->
      <polyline *ngFor="let item of lineList"
                [attr.points]="item"
                style="fill:none;stroke:#000000;stroke-width:2px" marker-end="url(#arrow)"></polyline>

      <polyline *ngFor="let item of kanbanList"
                [attr.points]="item"
                style="fill:none;stroke:#1469d7;stroke-width:2px;stroke-dasharray: 5,5" marker-end="url(#arrow_blue)"></polyline>

      <rect *ngFor="let item of rectList" width="100" height="30" [attr.x]="item.rectX" [attr.y]="item.rectY"
            style="fill:rgb(255,255,255);stroke-width:2px;stroke:rgb(0,0,0);"></rect>
      <rect *ngFor="let item of rectBlueList" width="80" height="40" [attr.x]="item.rectX" [attr.y]="item.rectY"
            style="fill:rgb(255,255,255);stroke-width:2px;stroke:#1469d7;"></rect>
      <text *ngFor="let item of rectList" width="80" [attr.x]="item.rectX" [attr.y]="item.rectY + 15" fill="black">{{item.text}}</text>

      <defs>
        <marker id="arrow" markerWidth="10" markerHeight="10" refX="0" refY="3" orient="auto" markerUnits="strokeWidth">
          <path d="M0,0 L0,6 L9,3 z" fill="#000" />
        </marker>
        <marker id="arrow_blue" markerWidth="10" markerHeight="10" refX="0" refY="3" orient="auto" markerUnits="strokeWidth">
          <path d="M0,0 L0,6 L9,3 z" fill="#1469d7" />
        </marker>
      </defs>

    </svg>
  </div>

  <div #smallImgRow class="row" style="height: 0px;">
  </div>

  <div #materialFlow class="row" style="height: 100px;padding-top: 46px">
  </div>

  <div class="row" style="height: 100px">
  </div>
</div>
