<section class="content-header">
  <h1>
    {{'flowchartMenu'|translate}}
  </h1>
  <ol class="breadcrumb">

  </ol>
</section>

<div *ngIf="pageNum == 0" class="box col-md-12" style="background-color: white !important; min-height: 400px">
  <div class="col-md-12" style="margin:10px 30px 20px 10px; min-height: 20px;">
    <h2>{{'welcomeToFlowchart'|translate}}</h2>
  </div>
  <!--<div class="col-md-12" style="margin:10px 30px 20px 10px; min-height: 20px;">
    <h3 style="width: 30%;margin: 0 auto;padding-bottom: 10px">{{'inputProductName'|translate}}</h3>
    <input class="form-control" [(ngModel)]="productName" style="height: 30px; width: 30% ;margin: 0 auto">
  </div>-->
  <div class="col-md-12" style="min-height: 50px">
    <button class="btn btn-block btn-primary btn-lg" style="width: 20%; margin: 0 auto" (click)="startFlowchart()">{{'startFlowchart'|translate}}</button>
  </div>
</div>


<!--type = form-->
<div name="type_form" *ngIf="currentType == 'form'" class="box col-md-12" style="background-color: white !important; min-height: 400px">
  <div class="col-md-12" style="margin:10px 30px 20px 10px; min-height: 20px;">
    <div class = "box-header">
      <b>{{pointItem.taskDefinitionKey}}.</b><b>{{pointItem.name}}</b>
    </div>
    <div class="form-group">
      <div *ngFor="let item of pointItem.form" class="form-group col-lg-4">
        <label>{{item.name}}</label>
        <input class="form-control" [(ngModel)]="item.value"  placeholder={{item.name}} type="text">
      </div>
    </div>
  </div>
  <div class="col-md-12" style="min-height: 50px">
    <button class="btn btn-block btn-primary btn-lg" style="width: 20%; float: right; margin-bottom: 15px" (click)="goToNextStep()">{{'nextQuestion'|translate}}</button>
  </div>
</div>

<!--type = choose-->
<div name="type_choose" *ngIf="currentType == 'question'" class="box col-md-12" style="background-color: white !important; min-height: 400px">
  <div class="col-md-12" style="margin:10px 30px 20px 10px; min-height: 20px;">
    <div class = "box-header">
      <b>{{pointItem.name}}.</b>
    </div>
    <div class="form-group">
      <ng-container *ngFor="let item of questionItem.answer.options">
        <label class = "box-header">
          <input name= {{questionItem.name}} value={{item.optionId}} [ngModel]="chooseItem" type="radio" class="a-radio" [checked]="chooseItem == item.optionId">
          <span class="b-radio"></span> {{item.name}}. {{item.detail}}
        </label>
      </ng-container>
    </div>
  </div>
  <div class="col-md-12" style="min-height: 50px">
    <button class="btn btn-block btn-primary btn-lg" style="width: 20%; float: right; margin-bottom: 15px" (click)="goToNextPage()">{{'nextQuestion'|translate}}</button>
  </div>
</div>


<!--flowchart board-->
<div name="drawnChart" class="box col-md-12" style="float:left;overflow-x:scroll;overFlow-y: hidden;white-space:nowrap; background-color: white !important; height: 600px; min-width: 1000px">
  <div #firstRow class="row" style="height: 100px;">
    <!--<div class="img-div" style="margin-left: 500px;background-image: url('../../assets/flowchart/product-info.png');">
      <label style="margin-top: 90px"></label>
    </div>-->
  </div>
  <div #secondRow class="row" style="height: 100px;">
    <div class="img-div" style="margin-left: 500px;background-image: url('../../assets/flowchart/question-electrial.png');">
    </div>
  </div>

  <div class="row" style="height: 200px">
    <svg width="1000" height="200">

      <line x1="550" y1="0" x2="50" y2="190"
            style="stroke:rgb(0,0,0);stroke-width:2px" marker-end="url(#arrow)"/>
      <rect width="150" height="50" x="290" y="50"
            style="fill:rgb(255,255,255);stroke-width:2px;stroke:rgb(0,0,0)"/>
      <text x="290" y="70" fill="black">6个月预测订单 两周固定订单</text>

      <line x1="550" y1="0" x2="650" y2="190"
            style="stroke:rgb(0,0,0);stroke-width:2px" marker-end="url(#arrow)"/>

      <line x1="550" y1="0" x2="950" y2="190"
            style="stroke:rgb(0,0,0);stroke-width:2px" marker-end="url(#arrow)"/>

      <defs>
        <marker id="arrow" markerWidth="10" markerHeight="10" refX="0" refY="3" orient="auto" markerUnits="strokeWidth">
          <path d="M0,0 L0,6 L9,3 z" fill="#000" />
        </marker>
      </defs>

    </svg>
  </div>

  <div #materialFlow class="row" style="height: 100px;">
    <!--<div class="img-div" style="background-image: url('../../assets/flowchart/form-external-source.png')">
      aaaaa
    </div>
    <div class="img-div" style="background-image: url('../../assets/flowchart/connection-arrow-ship.png')">
      每两天一次
    </div>
    <div class="img-div" style="background-image: url('../../assets/flowchart/question-inventory.png')">
      500
    </div>
    <div class="img-div" style="background-image: url('../../assets/flowchart/connection-arrow.png')">
      每周一次
    </div>
    <div class="img-div" style="background-image: url('../../assets/flowchart/question-supermarket.png')">
      &nbsp;
    </div>
    <div class="img-div" style="background-image: url('../../assets/flowchart/form-process.png')">
      ABCD
    </div>
    <div class="table-div" style="background-image: none">
      <table class="table-bordered" style="font-size: 8px; width: 100px">
        <thead>
          <tr>
            <th>预装</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>设备利用率</td>
            <td>85</td>
            <td>%</td>
          </tr>
          <tr>
            <td>POT</td>
            <td>1200</td>
            <td>分/天</td>
          </tr>
          <tr>
            <td>设备利用率</td>
            <td>85</td>
            <td>%</td>
          </tr>
          <tr>
            <td>POT</td>
            <td>1200</td>
            <td>分/天</td>
          </tr>
          <tr>
            <td>POT</td>
            <td>1200</td>
            <td>分/天</td>
          </tr>
          <tr>
            <td>POT</td>
            <td>1200</td>
            <td>分/天</td>
          </tr>
          <tr>
            <td>POT</td>
            <td>1200</td>
            <td>分/天</td>
          </tr>
        </tbody>
      </table>
    </div>-->

  </div>

  <div class="row" style="height: 100px">
  </div>
</div>
