
  <section class="content-header">
    <h1>
      在线诊断
    </h1>
    <ol class="breadcrumb">

    </ol>
  </section>

<div class="box col-md-12" *ngIf="questionShowing">
  <div style="padding-top: 10px">
    <div class="info-box bg-gray">
      <span class="info-box-icon"><i class="ion ion-ios-pricetag-outline"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">问卷 1</span>
        <span class="info-box-number">45 Items</span>
        <div class="progress">
          <div class="progress-bar" style="width: 0%"></div>
        </div>
        <span class="progress-description">
                        0% finished
        </span>
      </div><!-- /.info-box-content -->
    </div>
  </div>
  <ng-container *ngFor="let item of questionList">
    <app-questionbox [questionFromFather] = item   (answerFromChild)="getFromChild($event)"></app-questionbox>
  </ng-container>
  <button class="btn btn-block btn-primary btn-lg" style="width: 20%; float: right; margin-bottom: 15px" (click)="sentAnswer()" [disabled]="unsubmitable">提交</button>
</div>

  <div class="box col-md-12" *ngIf="!questionShowing">
    <h1>{{resultDemo.result.name}}</h1>
    <h1>{{resultDemo.result.score}}</h1>
    <button class="btn btn-block btn-primary btn-lg" style="width: 20%; float: left; margin-bottom: 15px" (click)="gotoResultDetail()">详细结果报告</button>
  </div>
