<section class="content-header">
  <h1>
    {{'questionnaireTitle'|translate}}
  </h1>
  <ol class="breadcrumb">

  </ol>
</section>
<div class="box col-md-12" style="min-height: 850px">
  <div style="padding-top: 15px">

  </div>
  <div class="col-md-12">
    <input #search [hidden]="false" class="search form-inline" style="width: 200px" type="text" placeholder="{{'searchHolder'|translate}}" (keydown.enter)="onSearch(search.value)">
    <button class="btn btn-block btn-success btn-sm search-btn"
            (click)="onSearch(search.value)">{{'searchButton'|translate}}</button>
    <button class="btn btn-block btn-danger btn-sm"
            [disabled]="deleteList.length == 0"
            style="min-width: 80px; width: 6%; float: right; margin-bottom: 15px; margin-left: 20px; margin-top: 5px;"
            (click)="batchDelete()">{{'batchDeleteBtn'|translate}}</button>
    <button class="btn btn-block btn-success btn-sm"
            [disabled]="questionCache.length == 0 && deleteList.length == 0"
            style="min-width: 80px; width: 6%; float: right; margin-bottom: 15px; margin-top: 0px; margin-left: 20px; margin-top: 5px;"
            (click)="openCreateModal(template)">{{'addToTestBtn'|translate}}</button>
    <button class="btn btn-block btn-primary btn-sm" style="min-width: 80px; width: 6%; float: right; margin-bottom: 15px"
            data-toggle="modal" data-target="#import-modal" (click)="openUpload()">{{'importQuestionBtn'|translate}}</button>

  </div>

  <div class="table-responsive col-md-12">
    <ng2-smart-table #mainTable [settings]="settings" [source]="source"
                     (deleteConfirm)="onDeleteConfirm($event)"
                     (editConfirm)="onSaveConfirm($event)"
                     (userRowSelect)="rowSelectEvent($event)"></ng2-smart-table>
    <label>{{'totalLabel'|translate}}: {{currentLength}}</label>
  </div>
  <div class="col-md-12">

  </div>
</div>

<div class="modal fade" id="import-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
  <div class="modal-dialog import-model" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-title" style="font-size: 20px">{{'importQuestionTitle'|translate}}</span>
        <button type="button" class="close" aria-label="Close" data-dismiss="modal" data-dismiss="modal">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body upload-modal-body">
        <div class="col-md-12">
          <label class="upload-button">
            <input type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" multiple>
          </label>
          <button type="button" class="btn btn-block btn-primary btn-sm btn-upload" (click)="startUpload()">
            {{uploadButtonMsg}}
          </button>
        </div>
        <div class="table-responsive col-md-12" *ngIf="uploadDone">
          <div class="col-md-12">
            <label>{{'importPreview'|translate}}</label>
          </div>
          <ng2-smart-table [settings]="newSettings" [source]="newSource"></ng2-smart-table>
          <label>{{'totalLabel'|translate}}: {{newTableData.length}}</label>
        </div>
      </div>
      <div class="modal-footer" style="border-top: none !important">

      </div>
    </div>
  </div>
</div>

<ng-template #template>
      <div class="modal-header">
        <span class="modal-title" style="font-size: 20px">{{'addToTestTitle'|translate}}</span>
        <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body upload-modal-body">
        <div class="col-md-12">
          <label>{{'selectedQuestions'|translate}}：</label>
          <span *ngFor="let item of selectedQuestions">{{item}}   </span>

        </div>
        <div class="col-md-12" style="height: 20px">
        </div>
        <div class="col-md-12">

          <button class="btn btn-success btn-sm" style="width: 70px; margin-left: 0px; position: relative" (click)="addToCache()" [disabled]="addBtnDisable">{{'add'|translate}}</button>
          <button class="btn btn-warning btn-sm" style="width: 70px; margin-left: 20px; position: relative" (click)="clearCache()">{{'clear'|translate}}</button>
        </div>
        <div class="col-md-12" style="height: 20px">
        </div>
        <div class="col-md-12">
          <label>{{'addedQuestions'|translate}}：</label>
          <span *ngFor="let item of nameCache">{{item}}   </span>

        </div>
        <div class="col-md-12" style="height: 30px">
          <label>{{'dimensions'|translate}}：</label>
        </div>
        <div class="col-md-12" style="height: 30px">
          <span class="label" [ngStyle]="changeBackground('1f08987e-6a97-43bc-985f-c7ef52ba5b45')" style="margin-right: 5px">Standardization</span>
          <span class="label" [ngStyle]="changeBackground('408efedf-64a1-4be1-9e27-a4e0c764acb2')" style="margin-right: 5px">Transparent Processes</span>
          <span class="label" [ngStyle]="changeBackground('cd2b3d21-2e65-483f-8010-656a0de142f0')" style="margin-right: 5px">Associate Involvement</span>
          <span class="label" [ngStyle]="changeBackground('0b0d2076-633a-4529-ac4e-8b046f97cd75')" style="margin-right: 5px">Continuous Improvement</span>
          <span class="label" [ngStyle]="changeBackground('fd5c2e9d-5d26-4903-a072-cae0208384f1')" style="margin-right: 5px">Flexibility</span>
        </div>
        <div class="col-md-12" style="height: 30px">
          <span class="label" [ngStyle]="changeBackground('37d11df6-f254-484a-aecc-c1f6bf1147dd')" style="margin-right: 5px">Perfect Quality</span>
          <span class="label" [ngStyle]="changeBackground('bae58c35-4d93-415e-8cd1-ed35773ebe87')" style="margin-right: 5px">Process Orientation</span>
          <span class="label" [ngStyle]="changeBackground('19b2685c-ce24-464d-8752-eeafc00d28cf')" style="margin-right: 5px">Pull System</span>
          <span class="label" [ngStyle]="changeBackground('1cb3c32d-f474-47c4-bc03-a95091536ee1')" style="margin-right: 5px">Resource</span>
          <span class="label" [ngStyle]="changeBackground('3ca89b48-973a-4234-aff8-0327e22971d6')" style="margin-right: 5px">Digitization</span>
          <span class="label" [ngStyle]="changeBackground('876d2f77-d05a-49f1-ae04-03c14bee4ac8')" style="margin-right: 5px">Automation</span>
        </div>
      </div>
      <div class="modal-footer" style="border-top: none !important">
        <button class="btn btn-block btn-primary btn-sm" style="width: 120px; float: left; margin-left: 10px" (click)="closeAddModal()">{{'continueAdd'|translate}}</button>
        <label style="margin-top: 4px"> {{'addToTestTitle'|translate}}：</label>
        <select style="margin-top: 4px" [(ngModel)]="selectTestId" (ngModelChange)="selectedNameChanged($event)">
          <option *ngFor="let item of testList" [value]="item.test.testId">{{item.test.name}}</option>
        </select>
        <button class="btn btn-block btn-primary btn-sm" style="width: 150px; float: right; margin-left: 10px" (click)="createQuestionnaire()">{{'save'|translate}}</button>
      </div>
</ng-template>

