<!-- Horizontal Form -->
<div class="login-box">
<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">{{'login'|translate}}</h3>
  </div><!-- /.box-header -->
  <!-- form start -->
  <form class="form-horizontal" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
    <div class="box-body">
      <div class="form-group">
        <label class="col-sm-2 control-label">{{'userName'|translate}}</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="{{'userName'|translate}}" name="username" [(ngModel)]="user.username" #username="ngModel" required>
          <div *ngIf="f.submitted && !username.valid" class="help-block">{{'userNameValid'|translate}}</div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">{{'password'|translate}}</label>
        <div class="col-sm-10">
          <input type="password" class="form-control"  placeholder="{{'password'|translate}}" name="password" [(ngModel)]="user.password" #password="ngModel" required>
          <div *ngIf="f.submitted && !password.valid" class="help-block">{{'passwordValid'|translate}}</div>
        </div>
      </div>
    </div><!-- /.box-body -->
    <div class="box-footer">
      <button type="button" class="btn btn-default" (click)="openCreateModal(template)">{{'register'|translate}}</button>
      <button type="submit" class="btn btn-info pull-right">{{'login'|translate}}</button>
    </div><!-- /.box-footer -->
  </form>
</div><!-- /.box -->
</div>

<ng-template #template>
  <div class="modal-header">
    <span class="modal-title" style="font-size: 20px">{{'register'| translate}}</span>
    <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body upload-modal-body">
    <div class="col-md-12 input-row">
      <div class="col-md-6 ">
        <label class="control-label"> {{'userName'| translate}}：</label>
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="{{'userName'| translate}}" name="testName" [(ngModel)]="newUser.username">
      </div>
    </div>
    <div class="col-md-12 input-row">
      <div class="col-md-6">
        <label class="control-label"> {{'password'| translate}}：</label>
      </div>
      <div class="col-md-6">
        <input type="password" class="form-control" placeholder="{{'password'| translate}}" name="testComment" [(ngModel)]="newUser.password">
      </div>
    </div>
    <div class="col-md-12 input-row">
      <div class="col-md-6">
        <label class="control-label"> {{'confirmPassword'| translate}}：</label>
      </div>
      <div class="col-md-6">
        <input type="password" class="form-control" placeholder="{{'confirmPassword'| translate}}" name="testComment" [(ngModel)]="newUser.password">
      </div>
    </div>
  </div>
  <div class="modal-footer" style="border-top: none !important">
    <button class="btn btn-block btn-primary btn-sm" style="width: 100px; float: right;" (click)="registerUser()">{{'register'|translate}}</button>
  </div>
</ng-template>
