<div class="col-md-11"></div>
<div class="col-md-1" style="min-width: 100px">
  <div  class="col-md-3"></div>
  <div class="col-md-9">
    <button class="btn btn-default" (click)="changeLanguage()" style="margin-top: 8px; margin-right: 5px;position: absolute">
      {{'switchLanguage'|translate}}
    </button>
  </div>
</div>
  <!-- Horizontal Form -->



  <!-- form start -->
  <form class="form-horizontal" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
    <!-- login box -->
    <div class="login_box center_align_div">
      <div class="login_content_box">
        <img id="login_logo" src="assets/images-new/index/u20.png"/>
        <div class="center_align_div">
          <div class="login_input_box">
            <img class="login_input_img" src="assets/images-new/index/u57.svg"/>
            <input style="line-height: normal !important;" id="username" type="text" value="" placeholder="{{'userName'|translate}}" name="username" [(ngModel)]="user.username" #username="ngModel" required />
            <div *ngIf="f.submitted && !username.valid" >{{' userNameValid'|translate}}</div>
          </div>
        </div>
        <div class="line_gap_20"></div>
        <div class="center_align_div">
          <div class="login_input_box">
            <img class="login_input_img" src="assets/images-new/index/u55.svg"/>
            <input style="line-height: normal !important;" id="password" type="password" value="" placeholder="{{'password'|translate}}" name="password" [(ngModel)]="user.password" #password="ngModel" required />
            <div *ngIf="f.submitted && !password.valid" >{{'passwordValid'|translate}}</div>
          </div>
        </div>
        <div class="line_gap_20"></div>
        <div class="center_align_div">
          <img class="login_remember_img" src="assets/images-new/index/u53.svg"/>
          <!--<input type="checkbox" id="remember" class="login_remember_img" src="assets/images-new/index/u53.svg">-->
          <div class="login_remember_text">{{'Remember my login status'|translate}}</div>

        </div>
        <div class="line_gap_20"></div>
        <div class="center_align_div">
          <button type="submit" class="login_submit_button">{{'login'|translate}}</button>
        </div>
        <div class="line_gap_10"></div>
        <div class="center_align_div">
          <div class="login_bottom_menu">
            <div>{{'forgotPassward'|translate}}</div>
            <div>{{'connect us'|translate}}</div>
          </div>
        </div>
      </div>
    </div>
    <!-- login box end -->

  </form>




<ng-template #template>
  <form class="form-horizontal" name="form" (ngSubmit)="f.form.valid && registerUser()" #f="ngForm" novalidate>
    <div class="modal-header">
      <span class="modal-title" style="font-size: 20px">{{'register'| translate}}</span>
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body upload-modal-body">
      <div class="col-md-12 input-row">
        <div class="col-md-3 ">
          <label class="control-label" style="float: right"> {{'userName'| translate}}：</label>
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control" placeholder="{{'userName'| translate}}" name="username1" [(ngModel)]="newUser.username" #username1="ngModel"  required>
          <div *ngIf="f.submitted && !username1.valid" class="help-block">{{'userNameValid'|translate}}</div>
        </div>
      </div>
      <div class="col-md-12 input-row">
        <div class="col-md-3">
          <label class="control-label" style="float: right"> {{'password'| translate}}：</label>
        </div>
        <div class="col-md-6">
          <input type="password" class="form-control" placeholder="{{'password'| translate}}" name="password1" [(ngModel)]="newUser.password" #password1="ngModel"  required>
          <div *ngIf="f.submitted && !password1.valid" class="help-block">{{'passwordValid'|translate}}</div>
          <p *ngIf="newUser.password.length < 6" style="color: #ff0000;"> {{'passwordNotValid'|translate}}</p>
          <p *ngIf="newUser.password.length >= 6" style="color: #15ff2e;"> {{'passwordLengthValid'|translate}}</p>
        </div>
      </div>
      <div class="col-md-12 input-row">
        <div class="col-md-3">
          <label class="control-label" style="float: right"> {{'confirmPassword'| translate}}：</label>
        </div>
        <div class="col-md-6">
          <input type="password" class="form-control" placeholder="{{'confirmPassword'| translate}}" name="password2" [(ngModel)]="passwordConfirm" #password2="ngModel"  required>
          <div *ngIf="f.submitted && !password2.valid" class="help-block">{{'passwordValid'|translate}}</div>
        </div>
      </div>
    </div>
    <div class="modal-footer" style="border-top: none !important">
      <button type="submit" class="btn btn-block btn-primary btn-sm"
              [disabled]="newUser.password.length < 6 || newUser.username.length == 0"
              style="width: 100px; float: right;">{{'register'|translate}}</button>
    </div>
  </form>
</ng-template>

