<section class="content-header">
  <h1>
    试卷管理
  </h1>
  <ol class="breadcrumb">

  </ol>
</section>
<div class="box col-md-12" style="min-height: 700px">
  <div style="padding-top: 15px">

  </div>
  <div class="col-md-12">
    <button class="btn btn-block btn-success btn-sm"
            style="min-width: 80px; width: 6%; float: right; margin-bottom: 15px; margin-top: 0px; margin-left: 20px; margin-top: 5px;"
            (click)="openCreateModal(template)">创建试卷</button>

  </div>

  <div class="table-responsive col-md-12">
    <ng2-smart-table [settings]="settings" [source]="source"
                     (deleteConfirm)="onDeleteConfirm($event)"
                     (editConfirm)="onSaveConfirm($event)"></ng2-smart-table>
  </div>
  <div class="col-md-12">

  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <span class="modal-title" style="font-size: 20px">创建试卷</span>
    <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body upload-modal-body">
    <div class="col-md-12">
      <div class="col-md-6">
        <label> 试卷名称：</label>
        <input type="text" class="form-inline" placeholder="试卷名称" name="testName" [(ngModel)]="testName">
      </div>
      <div class="col-md-6">
        <label> 试卷备注：</label>
        <input type="text" class="form-inline" placeholder="试卷备注" name="testComment" [(ngModel)]="testComment">
      </div>
    </div>
  </div>
  <div class="modal-footer" style="border-top: none !important">
    <button class="btn btn-block btn-primary btn-sm" style="width: 100px; float: right;" (click)="createNewTest()">创建</button>
  </div>
</ng-template>
