<section class="content-header">
  <h1>
    {{'userTitle'|translate}}
  </h1>
  <ol class="breadcrumb">

  </ol>
</section>
<div class="box col-md-12" style="min-height: 850px">
  <div style="padding-top: 15px">

  </div>
  <div class="col-md-12">
    <button class="btn btn-block btn-success btn-sm"
            style="min-width: 80px; width: 6%; float: right; margin-bottom: 15px; margin-top: 0px; margin-left: 20px; margin-top: 5px;"
            (click)="openCreateModal(template)">{{'createUserBtn'|translate}}</button>

  </div>

  <div class="table-responsive col-md-12">
    <ng2-smart-table [settings]="settings" [source]="source"
                     (deleteConfirm)="onDeleteConfirm($event)"
                     (editConfirm)="onSaveConfirm($event)"></ng2-smart-table>
  </div>
  <div class="col-md-12">

  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <span class="modal-title" style="font-size: 20px">{{'createUserTitle'|translate}}</span>
    <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body upload-modal-body">
    <div class="col-md-12">
      <div class="col-md-4">
        <label> {{'userName'|translate}}：</label>
        <input type="text" class="form-inline" placeholder="{{'userName'|translate}}" name="testName" [(ngModel)]="newUser.username">
      </div>
      <div class="col-md-4">
        <label> {{'password'|translate}}：</label>
        <input type="password" class="form-inline" placeholder="{{'password'|translate}}" name="testComment" [(ngModel)]="newUser.password">
      </div>
      <div class="col-md-4">
        <label> {{'role'|translate}}：</label>
        <select [(ngModel)]="newUser.roles[0].roleId">
          <option *ngFor="let item of roleList" [value]="item.roleId">{{item.roleName}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="modal-footer" style="border-top: none !important">
    <button class="btn btn-block btn-primary btn-sm" style="width: 100px; float: right;" (click)="createNewUser()">{{'createBtn'|translate}}</button>
  </div>
</ng-template>
