<section class="content-header">
  <h1>
    {{'userTitle'|translate}}
  </h1>
  <ol class="breadcrumb">

  </ol>
</section>
<div class="box col-md-12" style="min-height: 850px">
  <div style="padding-top: 15px">

  </div>
  <div class="col-md-12">
    <input #search [hidden]="false" class="search form-inline" style="width: 200px" type="text"
           placeholder="{{'searchHolder'|translate}}" (keydown.enter)="onSearch(search.value)">
    <button class="btn btn-block btn-success btn-sm search-btn"
            (click)="onSearch(search.value)">{{'searchButton'|translate}}</button>
    <!--IOT permission, 去掉注册功能-->
    <!--<button class="btn btn-block btn-success btn-sm"
            style="min-width: 80px; width: 6%; float: right; margin-bottom: 15px; margin-top: 0px; margin-left: 20px; margin-top: 5px;"
            (click)="openCreateModal(template)">{{'createUserBtn'|translate}}</button>-->

  </div>

  <div class="table-responsive col-md-12">
    <ng2-smart-table #mainTable [settings]="settings" [source]="source"
                     (deleteConfirm)="onDeleteConfirm($event)"
                     (editConfirm)="onSaveConfirm($event)"
                     (custom)="onCustom($event)"></ng2-smart-table>
    <label>{{'totalLabel'|translate}}: {{currentLength}}</label>
  </div>
  <div class="col-md-12">

  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <span class="modal-title" style="font-size: 20px">{{'createUserTitle'|translate}}</span>
    <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body upload-modal-body">
    <div class="col-md-12">
      <div class="col-md-4">
        <label> {{'userName'|translate}}：</label>
        <input type="text" class="form-inline" required="required" placeholder="{{'userName'|translate}}" name="testName" [(ngModel)]="newUser.username">
        <p *ngIf="newUser.username.trim().length == 0 && newUser.username.length > 0" style="color: #ff0000;"> {{'userNameNotValid'|translate}}</p>
      </div>
      <div class="col-md-4">
        <label> {{'password'|translate}}：</label>
        <input type="password" class="form-inline" required="required" placeholder="{{'password'|translate}}" name="testComment" [(ngModel)]="newUser.password">
        <p *ngIf="newUser.password.length < 6" style="color: #ff0000;"> {{'passwordNotValid'|translate}}</p>
        <p *ngIf="newUser.password.length >= 6" style="color: #15ff2e;"> {{'passwordLengthValid'|translate}}</p>
      </div>
      <div class="col-md-4">
        <label> {{'email'|translate}}：</label>
        <input type="text" class="form-inline" required="required" placeholder="{{'email'|translate}}" name="testName" [(ngModel)]="newUser.email">
      </div>
      <div class="col-md-4">
        <label> {{'role'|translate}}：</label>
        <select [(ngModel)]="selectedRoleName">
          <option *ngFor="let item of roleList" [value]="item.roleName">{{item.roleName}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="modal-footer" style="border-top: none !important">
    <button class="btn btn-block btn-primary btn-sm" style="width: 100px; float: right;"
            [disabled]="newUser.password.length < 6 || newUser.username.length == 0 ||
             newUser.email.length == 0 || newUser.username.trim().length == 0"
            (click)="createNewUser()">{{'createBtn'|translate}}</button>
  </div>
</ng-template>

<ng-template #assignTemplate>
  <div class="modal-header">
    <span class="modal-title" style="font-size: 20px">{{'generateCode'|translate}}</span>
    <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body upload-modal-body">
    <div class="col-md-12">
      <div class="col-md-4">
        <label> {{'chooseTest'|translate}}：</label>
        <select [(ngModel)]="selectTestId"  (ngModelChange)="selectedTestChanged($event)">
          <option *ngFor="let item of testList" [value]="item.test.testId">{{item.test.name}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="modal-footer" style="border-top: none !important">
    <button class="btn btn-block btn-primary btn-sm" style="width: 100px; float: right;" (click)="generateCode()">{{'generateBtn'|translate}}</button>
  </div>
</ng-template>
