
<table class="table-bordered" style="font-size: 8px; width: 100px; table-layout: fixed;">
  <thead style="height: 45px;font-size:14px">
  <tr>
    <th width=70px style="text-align: right">{{tableHeadFromFather}}</th>
    <th width=30px></th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of tableContentFromFather">
      <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{{item.name}}</td>
      <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{{item.value}}</td>
    </tr>
  </tbody>
</table>

