<div class="wrapper">

  <!-- Main Header -->
  <header class="main-header">

    <!-- Logo -->
    <a class="logo" style="height: 88px;">
      <div class="head_logo"><img src="assets/images-new/index/u4.png"></div>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a class="sidebar-toggle" data-toggle="offcanvas" role="button" style="padding-top: 60px">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <div class="head_menu_section">
            <div class="head_menu_items">
              <span (click)="goHome()">{{'mainPage'|translate}}</span>
              <span (click)="logOut()">{{'LogOut'|translate}}</span>
              <img src="assets/images-new/index/u14.png">
              <span (click)="changeLanguage()">{{'switchLanguage'|translate}}</span>
              <img id="item_arrow" src="assets/images-new/index/u16.png">
            </div>
            <div class="head_menu_text">
              <img src="assets/images-new/index/u20.png">
              <span>{{'OnlineSystem'|translate}}</span>
            </div>
          </div>
         </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar" style="padding-top: 100px; min-height: 80%">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">


      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <li class="header"></li>
        <!-- Optionally, you can add icons to the links    class="active"-->
        <li (click)="changePage()"><a routerLink="diagnosis"><i class='fa fa-edit'></i> <span>{{'diagnosisMenu'|translate}}</span></a></li>
        <li (click)="changePage()"><a routerLink="flowchart"><i class='fa fa-edit'></i> <span>{{'flowchartMenu'|translate}}</span></a></li>
        <li (click)="changePage()"><a routerLink="report"><i class='fa fa-bar-chart'></i> <span>{{'reportMenu'|translate}}</span></a></li>
        <li (click)="changePage()" *ngIf="user.roles[0].roleId == 'ADMIN'
         || user.roles[0].roleId == 'MANAGER'">
          <a routerLink="questionnaire"><i class='fa fa-database'></i> <span>{{'questionMenu'|translate}}</span></a></li>
        <li (click)="changePage()" *ngIf="user.roles[0].roleId == 'ADMIN'
         || user.roles[0].roleId == 'MANAGER'">
          <a routerLink="test"><i class='fa fa-th-list'></i> <span>{{'testMenu'|translate}}</span></a></li>
        <li (click)="changePage()" *ngIf="user.roles[0].roleId == 'ADMIN'">
          <a routerLink="user"><i class='fa fa-user'></i> <span>{{'userMenu'|translate}}</span></a></li>
        <li (click)="changePage()"><a routerLink="contact"><i class='fa fa-phone'></i> <span>{{'contactMenu'|translate}}</span></a></li>
      </ul><!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="min-height: 20% !important;">

    <!-- Main content -->
    <section class="content">
      <div *ngIf="user.mainShowing" class="big_blue_box" style="height: 800px">
        <div class="center_align_div">
          <img class="white_big_logo" src="assets/images-new/home/u115.svg">
        </div>
        <div class="center_align_div">
          <div class="big_blue_box_buttons">
            <button class="big_blue_box_button" style="margin-right:65px;" (click)="changePage()" routerLink="diagnosis">{{'startDiagnosis'|translate}}</button>
            <button class="big_blue_box_button" (click)="changePage()" routerLink="flowchart">{{'flowchartMenu'|translate}}</button>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>

      <!-- Your Page Content Here -->

    </section><!-- /.content -->
  </div><!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer>
    <div class="bottom_section">
      <div class="bottom_copyright">© 博世软件创新 | 沪ICP备10002431号-24</div>
      <div class="bottom_menu"><span>版本说明&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 法律声明&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 数据保护&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Cookies</span></div>
      <div style="clear:both;"></div>
    </div>
    <div><img src="assets/images-new/index/u18.png" class="head_bosch_color"></div>
  </footer>




</div>
