<div class="wrapper">

  <!-- Main Header -->
  <header class="main-header">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <script src="../../assets/plugins/jQuery/jquery-2.2.3.min.js"></script>


    <!-- heading start -->
    <div class="headings">
      <div><img src="../../assets/images-new/index/u18.png" class="head_bosch_color" /></div>
      <div class="head_main">
        <div class="head_logo"><img src="../../assets/images-new/index/u4.png" /></div>
        <div class="head_middle"></div>
        <div class="head_menu_section">
          <div class="head_menu_items">
            <span (click)="goHome()">{{'mainPage'|translate}}</span>
            <span (click)="logOut()">{{'LogOut'|translate}}</span>
            <img src="../../assets/images-new/index/u14.png"/>
            <span (click)="changeLanguage()" id="item_language">{{'switchLanguage'|translate}}</span>
            <img id="item_arrow" src="../../assets/images-new/index/u16.png"/>
          </div>
          <div class="head_menu_text">
            <img src="../../assets/images-new/index/u20.png"/>
            <span>工业在线诊断平台</span>
          </div>
        </div>
        <div style="clear:both;"></div>
      </div>
    </div>
    <!-- heading end -->



  </header>
  <div class="blank_headings"></div>
  <div class="main_section">
  <!-- left side menu -->
  <div class="left_side_menu" id="left">
    <div><img id="left_side_menu_arrow" src="../../assets/images-new/home/u69.png"/></div>
    <div><img class="left_side_menu_items" src="../../assets/images-new/home/u73_mouseOver.svg"/></div>
    <div><img class="left_side_menu_items" src="../../assets/images-new/home/u71.svg" onmouseover="toggle_menuitem(this);" onmouseout="toggle_menuitem(this);"/></div>
    <div><img class="left_side_menu_items" src="../../assets/images-new/home/u75.svg" onmouseover="toggle_menuitem(this);" onmouseout="toggle_menuitem(this);"/></div>
    <div><img class="left_side_menu_items" src="../../assets/images-new/home/u77.svg" onmouseover="toggle_menuitem(this);" onmouseout="toggle_menuitem(this);"/></div>
    <div><img class="left_side_menu_items" src="../../assets/images-new/home/u79.svg" onmouseover="toggle_menuitem(this);" onmouseout="toggle_menuitem(this);"/></div>
    <div><img class="left_side_menu_items" src="../../assets/images-new/home/u81.svg" onmouseover="toggle_menuitem(this);" onmouseout="toggle_menuitem(this);"/></div>
    <div><img class="left_side_menu_items" src="../../assets/images-new/home/u83.svg" onmouseover="toggle_menuitem(this);" onmouseout="toggle_menuitem(this);"/></div>
  </div>
  <!-- left side menu end -->

  <div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
      <div class="row" style="display: flex;">
        <div class="col-lg-3 col-xs-6">
          <div class="boxes box1">
            <div class="box_img"><img src="../../assets/images-new/1-1/u166.svg"/></div>
            <div class="box_text"><span class="box_text_title">试卷名称</span><br /><span class="box_text_desc">14题</span></div>
            <div style="clear:both;"></div>
          </div>
          <div class="box_bottom"><img src="../../assets/images-new/1-1/u204.svg"/>诊&nbsp; 断</div>
        </div>
        <div class="col-lg-3 col-xs-6">
          <div class="boxes box2">
            <div class="box_img"><img src="../../assets/images-new/1-1/u166.svg"/></div>
            <div class="box_text"><span class="box_text_title">试卷名称</span><br /><span class="box_text_desc">17题</span></div>
            <div style="clear:both;"></div>
          </div>
          <div class="box_bottom"><img src="../../assets/images-new/1-1/u204.svg"/>诊&nbsp; 断</div>
        </div>
        <div class="col-lg-3 col-xs-6">
          <div class="boxes box3">
            <div class="box_img"><img src="../../assets/images-new/1-1/u166.svg"/></div>
            <div class="box_text"><span class="box_text_title">试卷名称</span><br /><span class="box_text_desc">28题</span></div>
            <div style="clear:both;"></div>
          </div>
          <div class="box_bottom"><img src="../../assets/images-new/1-1/u204.svg"/>诊&nbsp; 断</div>
        </div>
        <div class="col-lg-3 col-xs-6">
          <div class="boxes box4">
            <div class="box_img"><img src="../../assets/images-new/1-1/u166.svg"/></div>
            <div class="box_text"><span class="box_text_title">试卷名称</span><br /><span class="box_text_desc">15题</span></div>
            <div style="clear:both;"></div>
          </div>
          <div class="box_bottom"><img src="../../assets/images-new/1-1/u204.svg"/>诊&nbsp; 断</div>
        </div>
      </div>
      <div class="row" style="display: flex;">
        <div class="col-lg-3 col-xs-6">
          <div class="boxes box5">
            <div class="box_img"><img src="../../assets/images-new/1-1/u166.svg"/></div>
            <div class="box_text"><span class="box_text_title">试卷名称</span><br /><span class="box_text_desc">16题</span></div>
            <div style="clear:both;"></div>
          </div>
          <div class="box_bottom"><img src="../../assets/images-new/1-1/u204.svg"/>诊&nbsp; 断</div>
        </div>
        <div class="col-lg-3 col-xs-6">
          <div class="boxes box6">
            <div class="box_img"><img src="../../assets/images-new/1-1/u166.svg"/></div>
            <div class="box_text"><span class="box_text_title">试卷名称</span><br /><span class="box_text_desc">27题</span></div>
            <div style="clear:both;"></div>
          </div>
          <div class="box_bottom"><img src="../../assets/images-new/1-1/u204.svg"/>诊&nbsp; 断</div>
        </div>
        <div class="col-lg-3 col-xs-6">
          <div class="boxes box7">
            <div class="box_img"><img src="../../assets/images-new/1-1/u166.svg"/></div>
            <div class="box_text"><span class="box_text_title">试卷名称</span><br /><span class="box_text_desc">10题</span></div>
            <div style="clear:both;"></div>
          </div>
          <div class="box_bottom"><img src="../../assets/images-new/1-1/u204.svg"/>诊&nbsp; 断</div>
        </div>
        <div class="col-lg-3 col-xs-6">
          <div class="boxes box8">
            <div class="box_img"><img src="../../assets/images-new/1-1/u166.svg"/></div>
            <div class="box_text"><span class="box_text_title">试卷名称</span><br /><span class="box_text_desc">8题</span></div>
            <div style="clear:both;"></div>
          </div>
          <div class="box_bottom"><img src="../../assets/images-new/1-1/u204.svg"/>诊&nbsp; 断</div>
        </div>
      </div>
    </section><!-- /.content -->
  </div><!-- /.content-wrapper -->
    <!-- bottom section -->
    <div class="bottom_section">
      <div class="bottom_copyright">© 博世软件创新 | 沪ICP备10002431号-24</div>
      <div class="bottom_menu"><span>版本说明&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 法律声明&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 数据保护&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Cookies</span></div>
      <div style="clear:both;"></div>
    </div>
    <div><img src="../../assets/images-new/index/u18.png" class="head_bosch_color" /></div>
    <!-- bottom section end -->
  </div>>

  <!-- js code for circle chart -->
  <script src="../../assets/dist/js/circleChart.min.js"></script>
  <script>
    $(".circleChart#circle1").circleChart({
      color:"#008ecf",
      speed:1000,
      widthRatio:0.15,
      size:150,
      value: 75,
      startAngle:75,
      lineCap:"square"
    });
    $(".circleChart#circle2").circleChart({
      color:"#008ecf",
      speed:1000,
      widthRatio:0.15,
      size:150,
      value: 34,
      startAngle:75,
      lineCap:"square"
    });
    $(".circleChart#circle3").circleChart({
      color:"#008ecf",
      speed:1000,
      widthRatio:0.15,
      size:150,
      value: 89,
      startAngle:75,
      lineCap:"square"
    });
  </script>
  <script src="../../assets/dist/js/main.js"></script>
  <!-- js code end -->




</div>
